@model Joshua2.Models.Artista

@{
    ViewData["Title"] = "Detalles del Artista";
}

<h1>Detalles del Artista</h1>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">País</dt>
        <dd class="col-sm-10">@Model.Pais</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
